include ../helpers/__include
include ../components/__include

block vars
    -
        const params = {
            pageTitle: 'Document'
        }

doctype
html(lang='ru' data-theme='default')

    +head(params)

    body.js-body(class=`${params.pageType}-page`)
        #__SVG-container__

        +header()

        block content

        +footer()

        script(src=`/js/common.bundle.js` defer)
        script(src=`/js/${params.pageType.toLowerCase()}.bundle.js` defer)


