mixin footer()
  footer(class="footer js-footer")
    div(class="footer__content container")
      div(class="footer__block-logo")
        a(href="/")
          img(class="footer__image-logo" src="media/images/logo2.png" alt="" title="" width="" height="")
      div(class="footer__info")
        p(class="footer__copywriting") &copy;&nbsp;2023-2024, East Wheels
        p(class="footer__text") Собственникам
        p(class="footer__text") О компании
        p(class="footer__text") Сделано в WEBEST


        


