mixin header()
  header(class="header")
   div(class="header__content container")
    div(class="header__block-logo")
      a(href="/")
        img(class="header__image-logo" src="media/images/logo.png" alt="" title="" width="" height="")
    div(class="header__lang-switcher")
      span(class="header__lang-current") Ru
      span(class="header__lang-arrow")
        svg(class="header__icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0.969726 5.03035L2.03039 3.96969L6.00001 7.93932L9.96963 3.96969L11.0303 5.03035L6.00001 10.0606L0.969726 5.03035Z" fill="#11327F")