extends ../templates/__default

block vars
  -
      var params = {
          pageType: 'detail',
          pageTitle: 'Hello, developer!'
      }
block content
  section(class="registration")
    div(class="registration__gallery")
      img(class="registration__image" src="media/images/fon.jpg")
    div(class="hero__content")
      h1(class="hero__title hero__title--indent") СДАВАЙТЕ СВОЮ МАШИНУ В&nbsp;АРЕНДУ #[br]И&nbsp;ЗАРАБАТЫВАЙТЕ
      div(class="hero__button-wraper")
        button(class="hero__button hero__title--size") Зарегистрироваться

  section(class="advantages")
   div(class="container")
    div(class="advantages__content")
     h2(class="advantages__title") Наши преимущества
     div(class="advantages__items")
      div(class="advantage-item")
        svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          circle(cx="50" cy="50" r="50" fill="#F4F5F9")
          path(d="M39.3332 55.3333V60.6666H44.6665V63.3333H36.6665V55.3333H39.3332ZM63.3332 55.3333V63.3333H55.3332V60.6666H60.6665V55.3333H63.3332ZM43.9998 43.3333C43.9998 46.647 46.6861 49.3333 49.9998 49.3333C53.3136 49.3333 55.9998 46.647 55.9998 43.3333H58.6665C58.6665 46.6763 56.7737 49.5773 54.0013 51.0229L53.9998 59.3333H45.9998L45.9997 51.0236C43.2266 49.5782 41.3332 46.6769 41.3332 43.3333H43.9998ZM49.9998 40.6666C51.8408 40.6666 53.3332 42.159 53.3332 44C53.3332 45.8409 51.8408 47.3333 49.9998 47.3333C48.1589 47.3333 46.6665 45.8409 46.6665 44C46.6665 42.159 48.1589 40.6666 49.9998 40.6666ZM44.6665 36.6666V39.3333L39.3332 39.332V44.6666H36.6665V36.6666H44.6665ZM63.3332 36.6666V44.6666H60.6665V39.3333H55.3332V36.6666H63.3332Z" fill="#11327F")
        p(class="advantages__text") Служба безопасности
        p(class="advantages__description") Каждый арендатор #[br]проходит обязательную проверку службой #[br]безопасности.
      div(class="advantage-item")
        svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          circle(cx="50" cy="50" r="50" fill="#F4F5F9")
          path(d="M51.3313 36.6666L51.3305 38.3706L57.998 40.5945L62.8413 38.9801L63.6845 41.5099L59.6425 42.8573L63.7696 54.2065C62.3137 55.7228 60.2661 56.6666 57.998 56.6666C55.73 56.6666 53.6824 55.7228 52.2265 54.2065L56.3519 42.8573L51.3305 41.1826V59.3333H56.6647V62H43.3314V59.3333H48.6639V41.1826L43.6426 42.8573L47.7696 54.2065C46.3137 55.7228 44.2661 56.6666 41.9981 56.6666C39.73 56.6666 37.6824 55.7228 36.2266 54.2065L40.3519 42.8573L36.3115 41.5099L37.1548 38.9801L41.9981 40.5945L48.6639 38.3706L48.6647 36.6666H51.3313ZM57.998 46.1369L56.1079 51.3333H59.8879L57.998 46.1369ZM41.9981 46.1369L40.1079 51.3333H43.8879L41.9981 46.1369Z" fill="#11327F")
        p(class="advantages__text") Юр.безопасность
        p(class="advantages__description") Для каждой аренды формируются #[br]электронные договор и&nbsp;акт, которые #[br]защитят ваш автомобиль.
      div(class="advantage-item")
        svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          circle(cx="50" cy="50" r="50" fill="#F4F5F9")
          path(d="M40.93 47.045H39.25C38.3831 47.0462 37.552 47.3911 36.939 48.0041C36.3261 48.6171 35.9812 49.4481 35.98 50.315V55.095C35.9822 55.9612 36.3276 56.7911 36.9405 57.4031C37.5534 58.015 38.3839 58.3592 39.25 58.36H40.93C41.2402 58.3596 41.5375 58.2363 41.7569 58.0169C41.9762 57.7976 42.0996 57.5002 42.1 57.19V48.22C42.1006 47.9091 41.9777 47.6106 41.7583 47.3903C41.5389 47.1699 41.2409 47.0457 40.93 47.045Z" fill="#11327F")
          path(d="M60.295 47.045H59.07C58.759 47.0457 58.4611 47.1699 58.2417 47.3903C58.0223 47.6106 57.8993 47.9091 57.9 48.22V57.19C57.9004 57.5002 58.0238 57.7976 58.2431 58.0169C58.4624 58.2363 58.7598 58.3596 59.07 58.36H60.335V58.425C60.3338 59.1275 60.0542 59.8008 59.5575 60.2975C59.0608 60.7943 58.3874 61.0738 57.685 61.075H53.665C53.5518 60.5314 53.2549 60.0433 52.8242 59.6928C52.3935 59.3422 51.8553 59.1506 51.3 59.15H48.455C45.2551 59.2479 45.2462 63.9019 48.455 64H51.3C51.8555 64.0003 52.3941 63.8089 52.8249 63.4583C53.2558 63.1076 53.5525 62.619 53.665 62.075H57.685C58.1827 62.0735 58.6749 61.9707 59.1316 61.7728C59.5882 61.575 59.9999 61.2862 60.3414 60.9241C60.6828 60.5621 60.947 60.1343 61.1179 59.6668C61.2887 59.1993 61.3626 58.702 61.335 58.205C62.1091 57.9816 62.7897 57.5126 63.274 56.8687C63.7583 56.2247 64.0201 55.4408 64.02 54.635V50.77C64.0192 49.7823 63.6265 48.8353 62.9281 48.1369C62.2297 47.4385 61.2827 47.0458 60.295 47.045Z" fill="#11327F")
          path(d="M51.1849 39.225C53.1099 39.227 54.9712 39.9145 56.4353 41.1642C57.8994 42.414 58.8706 44.1442 59.1749 46.045C60.2602 46.0174 61.4927 46.0207 62.4549 46.5701C62.3589 43.7367 61.1668 41.0512 59.1298 39.0795C57.0928 37.1077 54.3699 36.0037 51.5349 36H48.5699C45.771 36.0031 43.0796 37.078 41.0487 39.0038C39.0177 40.9297 37.8015 43.5602 37.6499 46.355C38.6722 46.1613 39.7095 46.0576 40.7499 46.045C41.0542 44.1442 42.0254 42.414 43.4895 41.1642C44.9536 39.9145 46.815 39.227 48.7399 39.225H51.1849Z" fill="#11327F")
        p(class="advantages__text") Служба поддержки 
        p(class="advantages__description") Наши менеджеры всегда готовы #[br]помочь вам в&nbsp;любой ситуации 7&nbsp;дней в&nbsp;#[br]неделю.
      div(class="advantage-item")
        svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          circle(cx="50" cy="50" r="50" fill="#F4F5F9")
          path(d="M50.0002 52.6667V55.3334C45.5819 55.3334 42.0002 58.9151 42.0002 63.3334H39.3335C39.3335 57.4423 44.1091 52.6667 50.0002 52.6667ZM50.0002 51.3334C45.5802 51.3334 42.0002 47.7534 42.0002 43.3334C42.0002 38.9134 45.5802 35.3334 50.0002 35.3334C54.4202 35.3334 58.0002 38.9134 58.0002 43.3334C58.0002 47.7534 54.4202 51.3334 50.0002 51.3334ZM50.0002 48.6667C52.9468 48.6667 55.3335 46.28 55.3335 43.3334C55.3335 40.3867 52.9468 38 50.0002 38C47.0535 38 44.6668 40.3867 44.6668 43.3334C44.6668 46.28 47.0535 48.6667 50.0002 48.6667ZM58.0002 62.6667L54.0816 64.7268L54.83 60.3634L51.6598 57.2732L56.0408 56.6367L58.0002 52.6667L59.9595 56.6367L64.3406 57.2732L61.1703 60.3634L61.9187 64.7268L58.0002 62.6667Z" fill="#11327F")
        p(class="advantages__text") Только личные цели 
        p(class="advantages__description") На&nbsp;платформе запрещено арендовать #[br]автомобиль под любые коммерческие #[br]цели (такси, доставки).  
  section(class="add")
    div(class="container")
        div(class="add__gallery")
            h2(class="add__title") Удобная и гибкая CRM#[br] для собственников #[br]транспорта
  
  section(class="salary")
   div(class="container")
    div(class="caption")
      div(class="caption__element")
        h2(class="advantages__title advantages__title--margin-small") Сколько зарабатывают наши партнеры
        p(class="caption__text") Аренда авто&nbsp;&mdash; выгодная ниша в&nbsp;тревеле
      div(class="caption__price")
        div(class="caption__circle-container")
          div(class="caption__circle")
            div
              h3(class="caption__circle-price") 1300₽
              p(class="caption__circle-text") средняя комиссия с заказа
          div(class="caption__circle")
            div
              h3(class="caption__circle-price") ≈3 МЛН. ₽
              p(class="caption__circle-text") зарабатывают наши топовые #[br]партнеры в год
          div(class="caption__circle")
            div
              h3(class="caption__circle-price") ≈20 000₽
              p(class="caption__circle-text") зарабатывают новые партнеры в #[br]год

  section(class="design")
   div(class="container")
    div(class="design__content")
      h2(class="add__title add__title--margin-large") Сдавайте в&nbsp;аренду свою #[br]машину уже сегодня
      div(class="design__btn")
        button(class="hero__button hero__title--size") Зарегистрироваться
      p(class="design__desc") Или свяжитесь с&nbsp;нами pochta@gmail.com

  section(class="contact-form")
    div(class="container")
        div(class="contact-form__content")
            div(class="contact-form__question")
                h2(class="contact-form__title") Остались вопросы?
                p(class="contact-form__description")
                    | Заполните форму или свяжитесь с нами любым удобным #[br]для вас способом
                p(class="contact-form__mail") pochta@gmail.com
                p(class="contact-form__phone") +66-81-786-13-77
                svg.contact-form__icon(width="30", height="30", viewBox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
                    circle(cx="15", cy="15", r="15", fill="#11327F")
                    g(clip-path="url(#clip0_373_2720)")
                        path(fill-rule="evenodd", clip-rule="evenodd", d="M19.518 9.28681C19.6827 9.21747 19.863 9.19355 20.0402 9.21755C20.2173 9.24155 20.3847 9.31259 20.5251 9.42326C20.6655 9.53394 20.7736 9.68022 20.8382 9.84686C20.9029 10.0135 20.9217 10.1944 20.8926 10.3708L19.3806 19.5421C19.234 20.4268 18.2633 20.9341 17.452 20.4935C16.7733 20.1248 15.7653 19.5568 14.8586 18.9641C14.4053 18.6675 13.0166 17.7175 13.1873 17.0415C13.334 16.4635 15.6673 14.2915 17.0006 13.0001C17.524 12.4928 17.2853 12.2001 16.6673 12.6668C15.1326 13.8255 12.6686 15.5875 11.854 16.0835C11.1353 16.5208 10.7606 16.5955 10.3126 16.5208C9.49531 16.3848 8.73731 16.1741 8.11864 15.9175C7.28264 15.5708 7.32331 14.4215 8.11797 14.0868L19.518 9.28681Z", fill="white")
                    defs
                        clipPath(id="clip0_373_2720")
                            rect(width="16", height="16", fill="white", transform="translate(7 7)")
            div(class="contact-form__info")
                form(class="contact-form__form", id="contactForm")
                    input(type="text", placeholder="Имя", class="contact-form__input", id="name")
                    input(type="email", placeholder="Email", class="contact-form__input-email", id="email")
                    textarea(placeholder="Комментарий", class="contact-form__textarea", id="comment")
                    button(type="submit", class="contact-form__button") Отправить
                    p(class="contact-form__privacy")
                        | Нажимая «Отправить», вы соглашаетесь с 
                        a(href="#") Политикой конфиденциальности
                p(id="success-message", class="message success-message") Форма успешно отправлена!
                p(id="error-message", class="message error-message") Пожалуйста, заполните все поля.
  
  section(class="rental-description")
    div(class="container")
     div(class="rental-description__container")
      h1(class="rental-description__title") Аренда транспорта на&nbsp;East Wheels
      p(class="rental-description__text") Нужна машина в&nbsp;Пхукете? Обращайтесь в&nbsp;East Wheels. Наша компания предоставит качественные услуги аренды авто на&nbsp;Пхукете в&nbsp;Тайланде. Для вас #[br]мы&nbsp;создали большой каталог автомобилей. Забронировать авто в&nbsp;East Wheels очень просто. Выберите подходящую дату и&nbsp;время аренды, свяжитесь с&nbsp;#[br]нашими менеджерами и&nbsp;они зарезервируют для вас автомобиль. Мы&nbsp;предлагаем разные способы оплаты, что очень удобно для туристов.
     div(class="link-svg-container")
        a(href="#" class="rental-description__read-more") Читать полностью
        div(class="svg-container")
            svg(width="12", height="12", viewBox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", clip-rule="evenodd", d="M0.969726 5.03026L2.03039 3.9696L6.00001 7.93923L9.96963 3.9696L11.0303 5.03026L6.00001 10.0605L0.969726 5.03026Z", fill="#141838")    